<header class="row fixed-top mb-10" [class.header-home]="isHomeRoute()">
  <div class="header-wrap">
    <div class="header-main-container">

      <div class="header-left-container">

        <div class="header-logo-main-container" [routerLink]="['/home']" routerLinkActive="active">
        </div>

        <div class="header-research-main-container">
          <div class="grp-recherche">
            <input type="text" 
            placeholder="Dans quelle ville cherchez-vous une colocation ?" 
            id="barre-recherche"
            [(ngModel)]="filtreVille">
            <button id="btn-recherche" (click)="search(filtreVille)" 
            [routerLink]="['/recherche-logement/',filtreVille]" ></button>
          </div>
        </div>

      </div> 

      <!-- User non connecté -->
      <div class="header-account-main-container" *ngIf="!utilisateurConnecte" > <!-- style="margin-top: 30px;paddin:" -->
        <button type=button class="header-button-account button1" style="font-size: 22px;height: 85%;padding:0px 20px;"
        [routerLink]="['/inscription']" routerLinkActive="active">
          S'inscrire
        </button>

        <button type=button class="header-button-account button1" style="font-size: 22px;height: 85%;padding-left:15px;padding:0px 20px;"
        [routerLink]="['/login']" routerLinkActive="active" >
          Se connecter
        </button>
        <button type=button class="header-button-account button1 last-button">
          <i class="bi-globe"></i>
        </button>
      </div> 

      <!-- User connecté-->
      
       <div class="header-account-main-container" *ngIf="utilisateurConnecte">
        <button  *ngIf= "utilisateurConnecte.typeDeCompte=='locataire'" type=button class="header-button-account button1 first-button" >
          Mes recherches
        </button>
        <button  *ngIf= "utilisateurConnecte.typeDeCompte=='locataire'" type=button class="header-button-account button1 ">
          Favoris
        </button>
        <button  *ngIf= "utilisateurConnecte.typeDeCompte=='proprietaire'" type=button class="header-button-account button1 first-button" >
          Candidatures reçues
        </button>
        <button  *ngIf= "utilisateurConnecte.typeDeCompte=='proprietaire'" type=button class="header-button-account button1 first-button" >
          Mes logements
        </button>
        <button type=button class="header-button-account button1 "
        [routerLink]="['/messagerie']">
          Messages
        </button>
        <button type=button class="header-button-account button1" style="padding-left:15px;padding-right:15px" 
        [routerLink]="['/',utilisateurConnecte.typeDeCompte,utilisateurConnecte.id]">
          Mon compte
        </button>
        <button type=button class="header-button-account button1 last-button">
          <i class="bi-globe"></i>
        </button>
      </div>

     
    </div>
  </div>

</header> 

<div class="container-fluid row">
  <router-outlet></router-outlet>
</div>


<footer class="fixed-bottom row mt-10">
  <div class="fContent">
    <div class="fLeft">
      <img src="../assets/img/logoRoofBlack.svg" alt="logo LaColoc">
      <span>&copy; 2021, LaColoc</span>
    </div>

    <div class="fRight">
      <a target="_blank" href="https://www.facebook.com/La-Coloc-102882025547821"><img
          src="../assets/img/reseauxSociaux/facebookBlack.svg" alt=""></a>
      <a target="_blank" href="https://twitter.com/"> <img src="../assets/img/reseauxSociaux/twitterBlack.svg" alt=""></a>
      <a target="_blank" href="https://www.instagram.com/"><img src="../assets/img/reseauxSociaux/instagramBlack.svg"
          alt=""></a>
    </div>
  </div>


</footer> 

