<!-- Faire barre de filtre-->
<div class="page-main-container">
  <h2 class="row justify-content-md-center mt-5 mb-5">Recherche de Colocataires</h2>

  <!-- Affichage de la recherche-->
  <div class="d-flex justify-content-around vertical-center border border-secondary mb-3 barre-filtres">
    <div class="ml-3 mr-3">
      <label for="ageMin">Age minimum :</label>
      <input type="number" max="120" min="0" id="ageMin" [(ngModel)]="ageMin" class="mx-1 border border-dark rounded"
        (ngModelChange)="filtrer($event)">
    </div>
    <div class="vr mx-5"></div>
    <div>
      <label for="ageMax">Age Maximum :</label>
      <input type="number" max="120" min="0" id="ageMax" [(ngModel)]="ageMax" class="mx-1 border border-dark rounded"
        (ngModelChange)="filtrer($event)">
    </div>
    <div class="vr mx-5"></div>
    <div>
      <div>
        <input type="radio" name="choix-civilite" value="homme" class="mx-1" [(ngModel)]="triCivilite"
          (ngModelChange)="filtrer($event)">
        <label for="choix-civilite">Homme Uniquement</label>
      </div>
      <div>
        <input type="radio" name="choix-civilite" value="femme" class="mx-1" [(ngModel)]="triCivilite"
          (ngModelChange)="filtrer($event)">
        <label for="choix-civilite">Femme Uniquement</label>
      </div>
      <div>
        <input type="radio" name="choix-civilite" value="" class="mx-1" [(ngModel)]="triCivilite"
          (ngModelChange)="filtrer($event)">
        <label for="choix-civilite">Pas de préférence</label>
      </div>
    </div>
    <div class="vr mx-5"></div>
    <div>
      <div>
        <input type="radio" name="choix-recherche" value="enRecherche" class="mx-1" [(ngModel)]="triRecherche"
          (ngModelChange)="filtrer($event)">
        <label for="choix-recherche">En recherche uniquement</label>
      </div>
      <div>
        <input type="radio" name="choix-recherche" value="" class="mx-1" [(ngModel)]="triRecherche"
          (ngModelChange)="filtrer($event)">
        <label for="choix-recherche">Tout les locataires</label>
      </div>
    </div>
    <div class="vr mx-5"></div>
    <div>
      <button class="btn btn-dark reset" (click)="resetFilter()">Réinitialiser les filtres</button>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="d-flex flex-wrap col-md-8">
      <div class="card flex-wrap" style="width: 18rem" *ngFor="let loc of locatairesFiltres">
        <div class="card-img-container">
          <div class="card-img-content">
            <img class="card-img-top" src="../assets/img/locataires/pikachu.jpg" alt="photo de profil locataire" />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title mt-3">
            {{loc?.prenom}}<br>{{loc?.nom}}
            <span>
              <!-- en fonction de civilite-->
              <i *ngIf="loc?.civ == 'Mme'" class="bi bi-gender-female float-end"></i>
              <i *ngIf="loc?.civ == 'Mr'" class="bi bi-gender-male float-end"></i>
              <i *ngIf="loc?.civ == 'NB'" class="bi bi-gender-ambiguous float-end"></i>
              <img class="card-caract" src="../assets/img/locataires/france.png" alt="drapeau">
            </span>
          </h5>
          <p class="card-text text-truncate mt-2">
            {{loc?.description}}
          </p>
        </div>
        <ul class="list-group list-group-flush mt-2">
          <li class="list-group-item">{{loc?.situation}}</li>
          <li class="list-group-item">{{loc?.dateDeNaissance | age}} ans</li>
          <li class="list-group-item d-flex justify-content-between">
            <span class="material-icons">hiking</span>
            <span class="material-icons">explore</span>
            <span class="material-icons">sports_bar</span>
          </li>
        </ul>
        <div class="card-bottom justify-content-around">
          <span class="material-icons">email</span>
          <span class="material-icons">favorite_border</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-block espace-blanc">
  </div>
</div>