html * {
    font-family: 'Open Sans', sans-serif;
    font-size:15px;
    text-decoration: none;
}

body, h2, header, .row{
    margin-left: -12px;
    margin-right: -12px;
}

.header{
    margin-left: -12; 
    margin-right: -12;
}
#row-top
{
    padding: 1%;
}

.hidden
{
    visibility: hidden;
}

.btn-inscription-esp
{
    height: 33%;
}

.titre
{
    display: block;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: large;
    margin-top: 75px;
}

.boutonHeader
{
    height: 100%;
    font-size: 70%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: black;
    font-weight: bold;
    color:white
}

#mot-de-passe-oublie
{
    display: block;
    padding-bottom: 10px;
}

#mot-de-passe-oublie
{
    display: block;
    padding-bottom: 10px;
}

.logo{
    /* border:solid 1px black; */
    display:flex;
    flex-direction: row;
    align-items: baseline;
}

#logo-img{
    width:80px;
    margin:0;
    padding:0;
}
#logo-txt{
    margin:0;
    padding:0;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color:black;
    transform:translateX(-50px);
}

.recherche{
    display:flex;
    /* border : solid 1px black; */
    height:40vh;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.grp-recherche{
    display:flex;
    width:50%;
    border:none;
    border-radius: 30px;
    align-items: center;
    height:50px;
    position:relative;
    background-color:white;
    box-shadow: 8px 5px 5px gray;
   
}

#barre-recherche{
    order:1;
    width: 90%;
    height: 45px;
    border-radius: 8px;
    border : none;
    outline:none;
}

#btn-recherche{
    margin : 0 10px;
    height:35px;
    width:35px;
    background-image: url(../img/searchButton.svg);
    background-size:45%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: lightgray ;
    border:none;
    padding: 0;
}

header
{
    background-image: url(../img/bedroom/bedroom2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
