

header{  overflow: visible;}

.header-wrap{
background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);/*linear-gradient(to right, lightgrey, lightpink);*/
height: 10px;
width: 100%;
position: fixed;
top: 0px;
}

.header-main-container {
  width: 100%;
  height: 71px;
  position: fixed;
  top: 0px;
  background-color: red;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 12px #d5d5d5;
  background-color: white; /*#ffc629; #ffffffe6*/
  margin-top: 4px;

/*  b
box-shadow: 8px 5px 5px gray;
ackground-image: url(img/background16.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;*/

}
.header-left-container{
  display: flex;
  height: 100%;
  margin-top: 15px;
}

.header-logo-main-container{
  height: 73%;
  width: 160px;
  background-image: url(../img/logo/logo-slogan.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-research-main-container{
  height: 73%;
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  margin-left:25px;
}

.grp-recherche{
  display:flex;
  border-radius: 30px;
  align-items: center;
  height:50px;
  background-color:white;
  box-shadow: 6px 5px 5px #b9b9b9 ; /*8px 5px 5px gray */
  width: 100%;
  height: 80%;
  border: solid 1px #f5f5f5;
}


#barre-recherche{
  order:1;
  border-radius: 8px;
  width:90%;
  font-size: 15px;

}

#btn-recherche{
  margin : 0 10px;
  height:32px;
  width:32px;
  background-image: url(../img/searchButton.svg);
  background-size:45%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  background-color: #6fa0b5 ;
}


.header-account-main-container{
  height: 80%;
  width:490px;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
  align-items: center;
  margin-top: 12px;
}



.header-button-account{

  border: none;
  color: white;
/*  padding: 16px 15px;*/
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15.5px;
/*  margin: 4px 2px; */
  transition-duration: 0.4s;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

header .first-button{
  padding-right: 25px;
  padding-left: 25px;
}


header .button1 {
  background-color: white;
  color: #606060;
  border-right: 2px solid #dfc5acbf; /*#e7e7e7 */
  width: 135px;
  height: 60%;
  white-space: nowrap;
}

header .last-button{
  border: none;
  padding-left: 20px;
  padding-right: 22px;
  width: 40px;
}

header .button1:hover {
  background-color: #dfc5acbf; /*#f7f7f7;  #ebbf902e; #f69d3c*/
  color: #606060;
}
