<div class="container-fluid">
    <div class="top">
        <div class='row' style="height:325px">
        </div>
        <div class="row barre-recherche">
            <button class="col-1" id="btn-recherche"></button>
            <input class="col" id="recherche-input" placeholder="Dans quelle ville cherchez-vous une colocation ?">
        </div>
    </div>
    <div class="row" id="ville-populaires-container">
        <div class="col-1"> 
        </div>
        <div class="col-10"> 
            <h2 class="row font-weight-bold my-5">Les villes populaires</h2>
            <div class="row d-flex justify-content-around">
                <div class="ville-populaire-exemple"></div>
                <div class="ville-populaire-exemple"></div>
                <div class="ville-populaire-exemple"></div>
                <div class="ville-populaire-exemple"></div>
            </div>
        </div>
        <div class="col-1"> 
        </div>
    </div>
    <div class="col" style="height:80px"></div>
    <div class="row" id="colocations-autour-container">
        <div class="col-1"> 
        </div>
        <div class="col-10"> 
            <h2 class="row font-weight-bold my-5">Les dernières colocations</h2>
            <div class="row d-flex justify-content-around">
                <div class="colocation-autour-exemple"></div>
                <div class="colocation-autour-exemple"></div>
                <div class="colocation-autour-exemple"></div>
            </div>
        </div>
        <div class="col-1"> 
        </div>
    </div>
    <div class='row' style="height:225px">
</div>