<div class="row" *ngIf="!connexionEtablie">
    <div class="col-md-4 offset-md-4">
        <div class="login-form mt-4 p-4">
            <h2 class="text-center">Connexion</h2>
            <hr class="mt-4">
            <div class="col-12">
                <label for="username" class="form-label">Nom d'utilisateur :</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="logInForm.username">
            </div>
            <div class="col-12 mt-3">
                <label for="motDePasse" class="form-label">Mot de passe :</label>
                <input type="password" class="form-control" id="motDePasse" [(ngModel)]="logInForm.password">
            </div>
            <div class="col-12">
                <a class="link-primary">Mot de passe oublié</a>
            </div>
            <div class="col-12 mt-3 mb-1">
                <button type="submit" class="btn btn-primary rounded-pill" (click)="login()">Se Connecter</button>
            </div>
            <div class="col-12">
                <span class="text-danger" *ngIf="errorLogIn">{{errorLogIn}}</span>
            </div>
            <hr class="mt-4">
            <div class="col-12">
                <p class="text-center mb-0">Pas encore inscrit ? <a class="link-primary" (click)="redirectInscription()">Inscription</a></p>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="connexionEtablie">
    <div class="col-md-4 offset-md-4">
        <div class="login-form mt-4 p-4">
            <h2 class="text-center">Connexion</h2>
            <hr class="mt-4">
            <div class="col-12 mt-2">
                <p class="text-center">Connexion réalisée</p>
                <p class="text-center">Redirection en cours</p>
            </div>
        </div>
    </div>
</div>
