<div class="container-fluid">
    <div class="content">
        <div class="categorie-proprietaire">
            <p class="titre-info">Informations personnelles</p>
            <div class="head-categorie" *ngIf="proprietaireForm">
                <p class="categorie-titre">{{proprietaireForm.civ}} {{proprietaireForm.nom}}
                    {{proprietaireForm.prenom}}</p>
                <p>
                    <button class="btn btn-primary" id="boutonAfficher-nomprenom" type="button"
                        data-bs-toggle="collapse" data-bs-target="#nomprenom" aria-expanded="false"
                        aria-controls="nomprenom">Modifier</button>
                </p>
            </div>

            <div class="collapse" id="nomprenom">
                <div class="card card-body">
                    <div class="categorie-content">
                        <div class="content-first">
                            <form>
                                <div class="mb-3">
                                    <label for="civ" class="label-input">Civilité</label>
                                    <select class="form-control input-modifier" id="civilite"
                                        [(ngModel)]="proprietaireForm.civ" name="civilite">
                                        <option value="">Choisir une civilité</option>
                                        <option *ngFor="let civ of civilites" [value]="civ">{{civ}}</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="nom" class="label-input">Nom</label>
                                    <input type="nom" class="form-control input-modifier" id="nom"
                                        [(ngModel)]="proprietaireForm.nom" name="nom">
                                </div>
                                <div class="mb-3">
                                    <label for="prenom" class="label-input">Prénom</label>
                                    <input type="prenom" class="form-control input-modifier" id="prenom"
                                        [(ngModel)]="proprietaireForm.prenom" name="prenom">
                                </div>
                                <button (click)="save()" type="submit" class="btn btn-outline-dark"
                                    data-bs-toggle="collapse" data-bs-target="#nomprenom" aria-expanded="false"
                                    aria-controls="nomprenom">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="head-categorie" *ngIf="proprietaireForm">
                <p class="categorie-titre">{{proprietaireForm.username}}</p>
                <p>
                    <button class="btn btn-primary" id="boutonAfficher-mailmdp" type="button" data-bs-toggle="collapse"
                        data-bs-target="#usermdp" aria-expanded="false" aria-controls="usermdp">Modifier</button>
                </p>
            </div>
            <div class="collapse" id="usermdp">
                <div class="card card-body">
                    <div class="categorie-content">
                        <div class="content-first">
                            <form>
                                <div class="mb-3">
                                    <label for="username" class="label-input">Username</label>
                                    <input type="username" class="form-control input-modifier" id="username"
                                        [(ngModel)]="proprietaireForm.username" name="username">
                                </div>
                                <div class="mb-3">
                                    <label for="mdp" class="label-input">Mot de passe</label>
                                    <input type="password" class="form-control input-modifier" id="mdp"
                                        [(ngModel)]="proprietaireForm.password" name="mdp">
                                </div>
                                <button (click)="save()" type="submit" class="btn btn-outline-dark"
                                    data-bs-toggle="collapse" data-bs-target="#usermdp" aria-expanded="false"
                                    aria-controls="usermdp">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="head-categorie" *ngIf="proprietaireForm">
                <p class="categorie-titre">{{proprietaireForm.email}} - {{proprietaireForm.tel}}</p>
                <p>
                    <button class="btn btn-primary" id="boutonAfficher-mailnum" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mailnum" aria-expanded="false" aria-controls="mailnum">Modifier</button>
                </p>
            </div>
            <div class="collapse" id="mailnum">
                <div class="card card-body">
                    <div class="categorie-content">
                        <div class="content-first">
                            <form>
                                <div class="mb-3">
                                    <label for="mail" class="label-input">Adresse e-mail</label>
                                    <input type="email" class="form-control input-modifier" id="mail"
                                        [(ngModel)]="proprietaireForm.email" name="mail">
                                </div>
                                <div class="mb-3">
                                    <label for="num" class="label-input">Numéro de téléphone</label>
                                    <input type="num" class="form-control input-modifier" id="num"
                                        [(ngModel)]="proprietaireForm.tel" name="num">
                                </div>
                                <button (click)="save()" type="submit" class="btn btn-outline-dark"
                                    data-bs-toggle="collapse" data-bs-target="#mailnum" aria-expanded="false"
                                    aria-controls="mailnum">Enregistrer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="categorie-proprietaire">
            <p class="titre-info">Logements</p>

            <div class="container" *ngFor="let logement of logements">
                <div class="mb-3">
                    <label for="des" class="form-label">{{logement.description}}</label>
                    <input type="des" class="form-control" id="des" [(ngModel)]="logement.description" name="des">
                </div>
            </div>
        </div>
    </div>
</div>