<div class="container-fluid">
    <p class="titre-info">Informations personnelles</p>
    <div class="container" *ngIf="proprietaireForm">
        <div class="row nomLogement">
            <div class=" col-10">Nom et prénom</div>
            <p class="categorie-titre">{{proprietaireForm.civ}} {{proprietaireForm.nom}} {{proprietaireForm.prenom}}</p>
            <div class="showHideLogement col-2">
                <button class="showLogement btn btn-outline-dark" id="boutonAfficher-nomprenom" type="button"
                    data-bs-toggle="collapse" data-bs-target="#nomprenom" aria-expanded="false"
                    aria-controls="nomprenom">Modifier</button>
            </div>
            <div class="collapse" id="nomprenom">
                <div class="row">
                    <form>
                        <div class="mb-3">
                            <label for="civ" class="form-label">Civilité</label>
                            <select class="form-control" id="civilite" [(ngModel)]="proprietaireForm.civ"
                                name="civilite">
                                <option value="">Choisir une civilité</option>
                                <option *ngFor="let civ of civilites" [value]="civ">{{civ}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="Nom" class="form-label">Nom</label>
                            <input type="nom" class="form-control" id="Nom" [(ngModel)]="proprietaireForm.nom"
                                name="nom">
                        </div>
                        <div class="mb-3">
                            <label for="Prenom" class="form-label">Prénom</label>
                            <input type="prenom" class="form-control" id="Prenom" [(ngModel)]="proprietaireForm.prenom"
                                name="prenom">
                        </div>
                        <button (click)="save()" type="submit" class="showLogement btn btn-outline-dark"
                            data-bs-toggle="collapse" data-bs-target="#nomprenom" aria-expanded="false"
                            aria-controls="nomprenom">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="row nomLogement">
            <div class=" col-10">Mail & Mot de Passe</div>
            <div class="showHideLogement col-2">
                <button class="showLogement btn btn-outline-dark" id="boutonAfficher-mailmdp" type="button"
                    data-bs-toggle="collapse" data-bs-target="#mailmdp" aria-expanded="false"
                    aria-controls="mailmdp">Modifier</button>
            </div>
        </div>
        <div class="collapse" id="mailmdp">
            <div class="row">
                <form>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Mail</label>
                        <input type="email" class="form-control" id="mail" [(ngModel)]="proprietaireForm.email"
                            name="email">
                    </div>
                    <div class="mb-3">
                        <label for="mdp" class="form-label">Mot de passe</label>
                        <input type="password" class="form-control" id="mdp" [(ngModel)]="proprietaireForm.password"
                            name="password">
                    </div>
                    <button (click)="save()" type="submit" class="btn btn-primary" data-bs-toggle="collapse"
                        data-bs-target="#mailmdp" aria-expanded="false" aria-controls="mailmdp">Enregistrer</button>
                </form>
            </div>
        </div>

        <div class="row nomLogement">
            <div class=" col-10">Coordonnées</div>
            <div class="showHideLogement col-2">
                <button class="showLogement btn btn-outline-dark" id="boutonAfficher-coord" type="button"
                    data-bs-toggle="collapse" data-bs-target="#coord" aria-expanded="false"
                    aria-controls="coord">Modifier</button>
            </div>
        </div>
        <div class="collapse" id="coord">
            <div class="row">
                <form>
                    <div class="mb-3">
                        <label for="mail" class="form-label">Mail</label>
                        <input type="email" class="form-control" id="mail" [(ngModel)]="proprietaireForm.email"
                            name="email">
                    </div>
                    <div class="mb-3">
                        <label for="num" class="form-label">Numéro de téléphone</label>
                        <input type="num" class="form-control" id="num" [(ngModel)]="proprietaireForm.tel" name="num">
                    </div>
                    <button (click)="save()" type="submit" class="btn btn-primary" data-bs-toggle="collapse"
                        data-bs-target="#coord" aria-expanded="false" aria-controls="coord">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>

    <p class="titre-info">Logements</p>
    <div class="container" *ngFor="let logement of logements">
        <div class="mb-3">
            <label for="des" class="form-label">{{logement.description}}</label>
            <input type="des" class="form-control" id="des" [(ngModel)]="logement.description" name="des">
        </div>


    </div>
</div>