<div>
    <div class="row" style="height: 120px;"></div>
    <div class="row">
        <div class="col-1"></div>
        <h3 class="col">Mes messages</h3>
    </div>
    <div class="row" style="border: solid;">
        <div class="col-1"></div>
        <div class="col-2 cadre-exemple" id="conversations">
            <!-- faire un ngFor qui requete sur les emetteur/destinataire distinct des messages reçus-->
            <div class="row cadre-contact"></div>
            <div class="row cadre-contact"></div>
            <div class="row cadre-contact"></div>
            <div class="row cadre-contact"></div>       
        </div>
        <div class="col-1"></div>
        <div class="col-7 cadre-exemple" id="messages">
            <div class="row cadre-message">
                <!-- faire un ngFor qui requete sur les messages de la conversation tries par date-->
                <div class="d-block cadre-message-destinataire"></div>
                <div class="d-block cadre-message-destinataire"></div>
                <div class="d-block cadre-message-destinataire"></div>
                <div class="d-block cadre-message-destinataire"></div>
            </div>
            <div class="row cadre-saisie" id="saisie-message">

            </div>
        </div>
        <div class="col-1"></div>
    </div>
</div>