<div class="page-main-container">

  <!-- Section Titre -->
  <div class="section-container" id="title-section">
    <h4> {{logement.titre}} </h4>
    <div class="subtitle">
      <div class="subtext">

        {{logement.localisation.num}} {{logement.localisation.voie}}, {{logement.localisation.ville}}
        ({{logement.localisation.codePostal}} {{logement.localisation.departement}})

      </div>

      <div style="display: flex;">
        <button class="subtext" id="partage"> Partager <span class="material-icons-outlined subtext"> share
          </span></button>
        <button class="subtext" id="favoris"> Ajouter aux favoris<span
            class="material-icons-outlined subtext">favorite_border</span></button>
      </div>
    </div>
  </div>

  <!-- Section Photo -->
  <div class="section-container" id="photo-section">
    <carousel lightbox-group objectFit="contain" [loop]="true" [dots]="true" [margin]="20" [cellsToShow]="4"  >
      <div  class="carousel-cell" *ngFor="let photo of logement.photos" >
        <img src="../../assets/img/exempleLogement/{{photo.chemin}}" lightbox >
      </div>
    </carousel>
  </div>





  <div id="navigation-main-containter">

    <div id="sticky-main-container">
      <div id="sticky-card">

        <h5 *ngIf="logement.dateDispo">
          <fa-icon [icon]="faCalendar"></fa-icon>
          Disponible le : {{logement.dateDispo}}
        </h5>

        <h5>
          <fa-icon [icon]="faMoneyBill"> </fa-icon>Loyer tout compris :
           {{logement.loyer + logement.charges}}€
        </h5>

        <h5>
          <fa-icon [icon]="faUsers"></fa-icon> Nombre d'occupant : {{locataires.length}}
        </h5>

        <h5 *ngIf="logement.meuble" ><fa-icon [icon]="faCouch"></fa-icon> Meublé : Oui</h5>
        <h5 *ngIf="!logement.meuble" ><fa-icon [icon]="faCouch"></fa-icon> Meublé : Non</h5>

        <h5>
          <fa-icon [icon]="faExpandAlt"></fa-icon>
          Superficie : {{logement.surface}} m²
        </h5>
        <div style="display: flex;">
          <button class="contact-button" id="envoi_message"
          [routerLink]="['/messagerie-nouveau/',logement.proprietaire.id]" >
            <fa-icon [icon]="faCommentAlt"></fa-icon>
            Envoyer un Message
          </button>
          <button class="contact-button" id="depot-dossier">
            <fa-icon [icon]="faFileDownload"></fa-icon>
            Déposer un dossier
          </button>
        </div>

      </div>

    </div>

    <div id="scrollable-main-containter">




      <!-- Section Infos clés -->
      <div class="section-container" id="info-section">
        <h4>Les infos clés</h4>

        <div class="caracteristiques-container ">

          <div id="info-container">


            <div class="card-style" style="width: 55%;">
              <h5>Le logement</h5>
              <span>Type : {{logement.typeLogement}}</span>
              <span>Superficie : {{logement.surface}}m² </span>
              <span>Nombre de chambres : {{logement.nChambre}} </span>
              <span>Nombre de chambre(s) libre(s): {{logement.nChambre - logement.nChambreOccup}} </span>
              <span>Nombre de sdb : {{logement.nSdb}} </span>
              
            </div>

            <div class="card-style" style="width: 30%;">
              <h5>Les dépenses</h5>
              <span>Loyer : {{logement.loyer}}€ </span>
              <span>Charges : {{logement.charges}}€ </span>
              <span>Caution : {{logement.caution}}€ </span>
            </div>


          </div>
        </div>
      </div>
      <!-- Section Colocation -->
      <div class="section-container" id="occupant-section">
        <h4>La colocation</h4>

        <div class="caracteristiques-container ">
          <h6>Description de la coloc'</h6>

          <div class="description text-truncate text-truncate-6">
            {{logement.description}}
          </div>

        </div>



        <div class="caracteristiques-container">
          <h6>Les occupants</h6>
          <div class="occupant-container">
            <div *ngFor="let loc of locataires" class="occupant-card-mini card-style">
              <div class="occupant-card-mini-photo" style="outline: solid 2px #ed99a1;">
                <img src="../img/occupants/occupant1-1.jpg" class="h-100" alt="...">
              </div>
              <div class="occupant-card-mini-content">
                <span class="occupant-desc"> {{loc.prenom }}</span>
                <span class="occupant-desc">{{loc.situation }}</span>
               
                <div class="occupant-hobbies" *ngIf="loc.hobbies">
                    <div *ngFor="let hob of loc.hobbies" class="caracteristiques">
                      <img src="../../assets/img/icons/{{hob.chemin}}" class="" alt="..."> 
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="caracteristiques-container">

            <h6>Le mode de vie adopté</h6>


            <div class="caracteristiques-list card-style">
              <div class="caracteristiques"> <i class="fas fa-glass-cheers"></i>
                Festif
              </div>
              <div class="caracteristiques"> <span class="material-icons-outlined">self_improvement</span>
                Calme & Cocooning
              </div>
              <div class="caracteristiques"> <i class="fas fa-leaf"></i>
                Ecolo
              </div>
              <div class="caracteristiques"> <i class="fas fa-laptop-house"></i>
                Télétravail
              </div>
              <div class="caracteristiques"> <i class="fas fa-users"></i>
                  <i class="fas fa-hands-helping"> </i> 
                Collectif
              </div>

              <div class="caracteristiques"> <i class="fas fa-user-circle"></i>
                Indépendant
              </div>
              <div class="caracteristiques"> <i class="fas fa-tools"></i>
                Débrouille
              </div>


            </div>
          </div> -->

      </div>


      <!-- Section logement -->
      <div div class="section-container" id="section-logement">

        <h4>Les caractéristiques du logement</h4>

        <div class="caracteristiques-container ">

          <h6>Les commodités proposées</h6>
          <div class="caracteristiques-list">
            <div *ngFor="let com of logement.commodites" class="caracteristiques">
              <img src="../../assets/img/icons/{{com.chemin}}" class="" alt="..."> {{com.libelle}}
            </div>
          </div>
        </div>

        <div class="caracteristiques-container">
          <h6>Les règles à respecter</h6>
          <div class="caracteristiques-list">
            <div *ngFor="let regle of logement.regles" class="caracteristiques">
              <img src="../../assets/img/icons/{{regle.chemin}}" class="" alt="..."> {{regle.libelle}}
            </div>
          </div>
        </div>

      </div>




      <!-- Section Chambre -->
      <div class="section-container" id="chambre-section">
        <h4>Les chambres</h4>
        <div *ngFor="let chambre of chambres;let index=index;" style="display: flex;flex-direction: column;" >
          <div class="caracteristiques-container" >
            <div class="d-flex justify-content-between"> <h5>Chambre {{index+1}}</h5>  
              <span class="statut-chambre" style="border-color: #9b0c0c;" *ngIf="chambre.locataire"> Occupée </span>
              <span class="statut-chambre" style="border-color: #1d7108;" *ngIf="!chambre.locataire"> Libre </span>
            </div>
          
            <div class="caracteristiques-container" style="height: 350px;">
              <h6>Les photos </h6>
              <div style="display: flex;align-items: center;height:100%;">
                <carousel lightbox-group  objectFit="contain" [dots]="true" [loop]="true" [cellWidth]="'100%'">
                  <div class="carousel-cell" *ngFor="let photo of chambre.photos">
                    <img src="../../assets/img/exempleLogement/{{photo.chemin}}" lightbox >
                  </div>
                </carousel>
              </div>
           
          </div>

          <div class="caracteristiques-container">
            <h6>Description </h6>
            <div class="description text-truncate text-truncate-12">
              {{chambre.description}}
            </div>
          </div>

         
          <div class="caracteristiques-container" *ngIf="chambre.commodites.length > 0">

            <h6 >Proposé dans la chambre</h6>
            
            <div class="caracteristiques-list ">
              <div *ngFor="let com of chambre.commodites" class="caracteristiques">
                <img src="../../assets/img/icons/{{com.chemin}}" class="" alt="..."> {{com.libelle}}
              </div>
            </div>
          </div>

          <div class="caracteristiques-container" style="width: 85%;
          border-bottom: solid 2px lightgray;
          margin: auto;">
          </div>
        </div>
        </div>

      </div>




      <!-- Section détails
        <div class="section-container" id="détails-section">
          <h6>Les choses à savoir</h6>
          <div></div>
        </div> -->

      <!-- Section localisation -->
      <div class="section-container" id="localisation-section">
        <h4>La localisation</h4>
<div class="caracteristiques-container"> 
        <h6> L'adresse exacte </h6>
        <div class="description" style="margin-top: 20px;">
          {{logement.localisation.num}} {{logement.localisation.voie}}, {{logement.localisation.ville}}
          ({{logement.localisation.codePostal}} {{logement.localisation.departement}})
        </div>
      </div>
        <h6> Sur une carte </h6>
        <div class="map-main-container">
          <div class="map-content-container">
            <app-map></app-map>
            <!-- <div class="map" id=mapid></div> -->
          </div>
        </div>
      </div>



    </div>
  </div>

</div>